<div class="card card-outline-success">
	<div class="card-header">ข้อมูลผู้ป่วย</div>
	<div class="card-text card-block ">
		<patient-detail [regno]="regno"></patient-detail>
	</div>
</div>

<div class="card card-outline-success">
	<div class="card-header">ตรวจคัดกรอง</div>
	<div class="card-text card-block ">
		<vital-sign [regno]="regno"></vital-sign>
	</div>
</div>

<div class="card card-outline-success">
	<!-- Nav tabs -->
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs float-xs-left" role="tablist">
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#diag" role="tab">วินิจฉัย</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#operation" role="tab">หัตถการ/งานบริการ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#dent" role="tab">หัตถการ/งานบริการ (ห้องทันตกรรม)</a>
			</li>
		</ul>
	</div>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="card-text card-block tab-pane" id="diag" role="tabpanel">
			<diag-home></diag-home>
		</div>
		<div class="card-text card-block tab-pane" id="operation" role="tabpanel">
			<gen-home></gen-home>
		</div>
		<div class="card-text card-block tab-pane active" id="dent" role="tabpanel">
			<dent-home></dent-home>
		</div>
	</div>

</div>