//this only template file. change url to suite your own settings.

import { OpaqueToken } from "@angular/core";

import { IAppConfig } from "./app.config.interface"

export let APP_CONFIG = new OpaqueToken("app.config");

export const AppConfig: IAppConfig = {
    serverIP: "http://127.0.0.1/",
    apiEndpoint: "http://127.0.0.1/",
    reportApi: "http://127.0.0.1/"
};